*{
    padding:3vw;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: #fefae0;
}
.container{
   width: 100%;
   display: flex;
   align-content: center;
   column-gap: 0.454vw;
}
.panel{
    width: 5vw;
    height: 30vw;
    background-position: center;
    background-size: cover;
    position: relative;
    border: 0.2vw solid #d4a373;
    border-radius: 1vw;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 0.5vw #d4a373;
}
.panel.active{
    width: 20vw;
    height: 30vw;
    border: 0.2vw solid #d4a373;
    box-shadow: 0 0 1vw #d4a373;
}